.field_set{
  border-style: solid;
  border-radius: 15px;
}

.hr{
clear: both;
}

.profileImage{
margin-left:40px;
float:left;
}


.userContent{
float:left;
margin-left:60px;
float:clear;
}

.logout{
float:right;
}

.subjects {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td input[type="checkbox"] {
    width:20px;
    height:20px;
    margin-left: 1px auto;
    margin-left: 19px;
    margin-top: 1px;
    margin-bottom: -15px;

}

.Submit{
  text-align:right;
  margin-right: 250px;
}
